/*  - - -  NAV - - - */
.logo{
    width: 35px;
    height: 30 px;
    margin-left: 10px;
}

.border-dark {
    padding: 0 10px;
}

/* - - - Footer - - - */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px 20px 10px;
    justify-content:space-between ;
    position: inherit;
    margin-bottom: 0;
}

.redes{
    display: flex;
    justify-content: flex-end;
}

.redes ul{
    display: flex;
    list-style: none;
}

.redes ul li{
    margin-right: 15px;
}

/*- - - portada header - - - */


.titulo-consultacar{
    color: #0f0f0f;
    display:block;
    padding: 35px 15px;
}


.titulo-consultacar h1{
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center; 
    text-shadow: -10px 10px 10px #F0F0F0 ; 
}

.titulo-consultacar h2 {
    text-align: center;
    background: #F0F0F0;
}

.alinear{
    text-align: center;
}

.acceso-rapido{
    margin-top: 25px;
    margin-bottom: 5%;
}

.boton{
    color:black;
    background-color: #F0F0F0;
    border: 2px solid #4741d7;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton:hover {
        color: #fff; 
}

.boton::after {
    content: "";
    background: #4741d7; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .boton::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

    body {
    background-image: url(/img/asphalt-line-texture.jpg);
  }